<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>aaa</display-name>
  <welcome-file-list>
    <welcome-file>start.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <!--  예외클래스별 예외 페이지 설정하기  -->
   <error-page>
     <exception-type>java.lang.NumberFormatException</exception-type>
     <location>/ex0409/exception/ex02/error/numberErr.jsp</location>
   </error-page>
  
   <error-page>
     <exception-type>java.lang.ArithmeticException</exception-type>
     <location>/ex0409/exception/ex02/error/arithErr.jsp</location>
   </error-page>
  
  
  
  
  
  
  
</web-app>